apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{cluster.name}}
  region: {{cluster.region}}
  version: "1.32"

autoModeConfig:
  enabled: true

addons:
  - name: cert-manager
    version: latest

gitops:
  flux:
    gitProvider: github
    flags:
      owner: {{repo_owner}}
      repository: {{repo_name}}
      branch: main
      path: clusters/{{cluster.name}}