apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{cluster.name}}
  region: {{cluster.region}}
  version: "1.32"

autoModeConfig:
  enabled: true

gitops:
  flux:
    gitProvider: github
    flags:
      owner: {{gitops.owner}}
      repository: {{gitops.repository}}
      branch: main
      path: clusters/{{cluster.name}}